<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892132202274-154fivdrln1hlk6pcp50buq9ecd3747n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892132202274-154fivdrln1hlk6pcp50buq9ecd3747n</string>
	<key>API_KEY</key>
	<string>AIzaSyDP3fxzg-RkcOu3f1htxJkkljxRpM894o8</string>
	<key>GCM_SENDER_ID</key>
	<string>892132202274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.madalien11.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-bfefa</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-bfefa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892132202274:ios:539eef8f4a6a47b4f7f77b</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-bfefa.firebaseio.com</string>
</dict>
</plist>